<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="path/to/your/css/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido al Landing Page</h1>
    </header>

    <section>
        <h2>Django</h2>
        <p>Estamos probando Django</p>
    </section>

    <section>
        <h2>Titulo Placeholder</h2>
        <ul>
            <li>Prueba 1</li>
            <li>Prueba 2</li>
            <li>Prueba 3</li>
        </ul>
    </section>

    <section>
        <h2>Contacto</h2>
        <p>Email: lordofmayhem@hell.com</p>
        <p>Telefono: 666-666-666</p>
    </section>

    <footer>
        <p>&copy; rodjoost fullstack python bootcamp 2023.</p>
    </footer>
</body>
</html>
