body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #238567;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #134b6b;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29333b;
}
h1, p {
    color: #ffffff;
    font-size: 4em;
    align-items: center;
}